<div class="auth_body">
        <div class="wrapper">
                <nav class="navbar">
                        <div class="container-fluid">
                                <a class="navbar-brand" href="#">Your Listing</a>
                                <div class="mt-md-0"><a class="navbar-brand"  routerLink="/register">Sign up here &nbsp;<i class="fa fa-angle-right"></i></a></div>
        
                        </div>
                    </nav>
            <div class="login_page">
        
                <form class="form-horizontal" role="form" method="POST" action="/login">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 login_box_header">
                            <h2>Sign In</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="sr-only" for="email">E-Mail Address</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" name="email" class="form-control" id="email"
                                           placeholder="you@example.com" required autofocus  autocomplete="off"><i class="fa fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    <!-- <i class="fa fa-close"></i> Example error message -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="password" name="password" class="form-control" id="password"
                                           placeholder="Password" required><i class="fa fa-eye-slash"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                <!-- Put password error message here -->    
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="padding-top: .35rem">
                            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="remember"
                                           type="checkbox" >
                                    <span style="padding-bottom: .15rem">Remember me</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 1rem">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 login_box_footer">
                            <button type="submit" class="btn btn-success primary_btn"> Sign In</button>
                            
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6 login_box_footer">
                            <a href="/password/reset">Forgot Password?</a>
                        </div>
            
                    </div>
                  </form>
            </div>
        </div>
</div>


